.DS_Store
config/direnv/
config/nvim/plugged/
config/configstore/
config/hub
config/nvim/.netrwhist
fonts/
python/Library/
python/usr/
vim/.netrwhist
vim/plugged/
vim/view/*
config/direnv/
config/nvim/plugged/
config/hub
fonts/*
config/yarn/
tmux-client-*.log
gitconfig

# configs dir
config/coc/extensions/db.json
config/coc/extensions/node_modules/
config/coc/history.json
config/coc/snippets-mru
config/gh/
config/gtk-2.0/
config/heroku/
config/htop/
config/tmuxinator/
